{% extends 'hello/layout.html' %}

{% block content %}

<div class="cg">
    <p class="m">Select the artist for your related artists playlist!</p>
    <div class="buts">
        <!-- button to artist -->
        <a href="{% url 'uncleposty' %}">
            <button type="button" class="up btns">Uncle Posty</button>
        </a>

        <!-- button to artist -->
        <a href="{% url 'selenagomez' %}">
            <button type="button" class="sg btns">Selena Gomez</button>
        </a>

        <!-- button to artist -->
        <a href="{% url 'rezz' %}">
            <button type="button" class="rz btns">Rezz</button>
        </a>

        <!-- button to artist -->
        <a href="{% url 'atribecalledquest' %}">
            <button type="button" class="at btns">A Tribe Called Quest</button>
        </a>

        <!-- button to artist -->
        <a href="{% url 'travisscott' %}">
            <button type="button" class="ts btns">Travis Scott</button>
        </a>

        <!-- button to artist -->
        <a href="{% url 'timmcgraw' %}">
            <button type="button" class="tm btns">Tim McGraw</button>
        </a>

        <!-- button to artist -->
        <a href="{% url 'nancyajram' %}">
            <button type="button" class="na btns">Nancy Ajram</button>
        </a>

        <!-- button to artist -->
        <a href="{% url 'prince' %}">
            <button type="button" class="pr btns">Prince</button>
        </a>
    </div>
</div>

{% endblock %}