{% extends "hello/layout.html" %}
{% block content %}

<div class="cg">
    <p class="m">Choose the catgeory of the Playlist you wish to create</p>
    <div class="buts">
        <!-- button to select workout playlist -->
        <a href="{% url 'workout' %}">
        <button type="button" class="a btns">Workout</button>
        </a>

        <!-- button to select general driving playlist -->
        <a href="{% url 'driving' %}">
        <button type="button" class="b btns">General Driving</button>
        </a>

        <!-- button to select international playlist -->
        <a href="{% url 'international' %}">
        <button type="button" class="c btns">International</button>
        </a>

        <!-- button to select year range playlist -->
        <a href="{% url 'yearRange' %}">
        <button type="button" class="d btns">Year Range</button>
        </a>

        <!-- button to select study playlist -->
        <a href="{% url 'study' %}">
        <button type="button" class="e btns">Study</button>
        </a>

        <!-- button to select artist's followers playlist -->
        <a href="{% url 'category' %}">
        <button type="button" class="f btns">Artist's Followers</button>
        </a>
    </div>
</div>


{% endblock %}
