{% extends "hello/layout.html" %}
<!-- {% block title %}
Home
{% endblock %}
{% block content %} -->
<p>Choose the catgeory of the Playlist you wish to create</p>

<!-- button to select workout playlist -->
<a href="http://www.spotify.com">
<button type="button" class="btn btn-info btn-lrg">Workout</button>
</a>

<!-- button to select general driving playlist -->
<a href="http://www.spotify.com">
<button type="button" class="btn btn-success btn-lrg">General Driving</button>
</a>

<!-- button to select international playlist -->
<a href="http://www.spotify.com">
<button type="button" class="btn btn-warning btn-lrg">International</button>
</a>

<!-- button to select year range playlist -->
<a href="http://www.spotify.com">
<button type="button" class="btn btn-dark btn-lrg">Year Range</button>
</a>

<!-- button to select study playlist -->
<a href="http://www.spotify.com">
<button type="button" class="btn btn-primary btn-lrg">Study</button>
</a>

<!-- button to select artist's followers playlist -->
<a href="http://www.spotify.com">
<button type="button" class="btn btn-danger btn-lrg">Artist's Followers</button>
</a>


<!-- {% endblock %} -->