{% extends "hello/layout.html" %}
<!-- {% block title %}
Home
{% endblock %}
{% block content %} -->

<nav class="dash-nav">
            <ul>
                <div class="logo">Spicify</div>
                <li><a class="navbar-brand" href="{% url 'home' %}">Home</a></li>
                <li><a class="navbar-brand" href="{% url 'category' %}">Categories</a></li>
                <li class="message">{{name}}</li>
                <hr>
                <li>Playlists</li>
                <!-- <ul class="playlists">
                    <li></li>
                </ul> -->
            </ul>   
 </nav>

<div class="cg">
    <p class="m">Choose the catgeory of the Playlist you wish to create</p>
    <div class="buts">
        <!-- button to select workout playlist -->
        <a href="{% url 'workout' %}">
        <button type="button" class="a btns">Workout</button>
        </a>

        <!-- button to select general driving playlist -->
        <a href="{% url 'driving' %}">
        <button type="button" class="b btns">General Driving</button>
        </a>

        <!-- button to select international playlist -->
        <a href="{% url 'category' %}">
        <button type="button" class="c btns">International</button>
        </a>

        <!-- button to select year range playlist -->
        <a href="{% url 'category' %}">
        <button type="button" class="d btns">Year Range</button>
        </a>

        <!-- button to select study playlist -->
        <a href="{% url 'study' %}">
        <button type="button" class="e btns">Study</button>
        </a>

        <!-- button to select artist's followers playlist -->
        <a href="{% url 'category' %}">
        <button type="button" class="f btns">Artist's Followers</button>
        </a>
    </div>
</div>


<!-- {% endblock %} -->
