<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Spicify</title>

    <!-- Link to bootstrap css library -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/site.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hello/categories.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hello/artists.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hello/yearRange.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hello/playlist_view.css' %}" type="text/css">
</head>
<body>

    <nav class="dash-nav">
        <ul>
            <div class="logo"><a href="{% url 'home' %}">Spicify</a></div>
            <li> <a class="navButton" href="{% url 'category' %}"> Home </a> </li>
            <li class="message"> {{name}} </li>
            <hr>
            <li>Playlists</li>
            
        </ul>
    </nav>
    {% block content %} 
    {% endblock %}
</body>
</html>