  
<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
</head>
<body>
<div class="navbar">
    <p>
    <a href="{% url 'home' %}" class="navbar-brand">Home</a>
    <a href="{% url 'category' %}" class="navbar-brand">Categories</a>
    </p>
</div>
<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>© 2019</p>
    </footer>
</div>
</body>
</html> -->

<!-- USING BOOTSTRAP -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Spicify</title>
    
    <!-- Link to bootstrap css library -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/site.css' %}" type="text/css">
</head>

<body>
        <!-- Navigation bar with links -->
        <nav class="nav">
            <ul>
                <div class="logo">Spicify</div>
                <li><a class="navbar-brand" href="{% url 'home' %}">Home</a></li>
                <li><a class="navbar-brand" href="{% url 'category' %}">Categories</a></li>
                <hr>
                <li>Playlists</li>
            </ul>   
         </nav>
    <footer>
        <p>© 2019</p>
    </footer>
</body>
</html>