
{% extends 'hello/layout.html' %}

{% block content %}
<div class="playlist-msg">
    <div class="msg">
        <h3 class="msg-1">Your Playlist Has Successfully Been Created</h3>
        <p class="msg-2">It should be the first playlist in your library on Spotify</p>
    </div>
    <form action="rate">
    <div class="rate">
        
        <input type="submit" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="submit" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="submit" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="submit" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="submit" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
    
    </div>
</form>
    <div class ="iframe-cont">            
        <iframe src="{{playlistUrl}}" width="1000" height="750" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
{% endblock %}

