{% extends 'hello/layout.html' %}

{% block content %}
        <div>
                <!--style="position:relative; top: 100px; left: 50px;" -->
            <iframe src="{{playlistUrl}}" width="450" height="480" frameborder="0" allowtransparency="true" allow="encrypted-media" style="z-index:999; margin-left:25%;"></iframe>
        </div>
{% endblock %}

<!-- <iframe src="{{playlistUrl}}" width="450" height="480" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe> -->



























