<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Spicify</title>

    <!-- Link to bootstrap css library -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/site.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'hello/yearRange.css' %}" type="text/css">
</head>

<body>

<nav class="dash-nav">
    <ul>
        <!--  href="{% url 'home' %}" -->
        <div class="logo"><a href="{% url 'category' %}">Spicify</a></div>
        <li> <a class="navButton" href="{% url 'category' %}"> Home </a> </li>
        <!-- <li><a class="navbar-brand" href="{% url 'category' %}">Categories</a></li>  -->
        <li class="message"> {{name}} </li>
        <hr>
        <li>Playlists</li>
        <!-- <ul class="playlists">
                        <li></li>
                    </ul> -->
    </ul>
</nav>

<div class="cg">
    <p class="m">Please choose the year you want to listen to: </p>
    <div class="buts">
        <!-- button to select workout playlist -->
        <a href="{% url 'thirty' %}">
            <button type="button" class="z btns">1930's</button>
        </a>

        <!-- button to select general driving playlist -->
        <a href="{% url 'fourty' %}">
            <button type="button" class="y btns">1940's</button>
        </a>

        <!-- button to select international playlist -->
        <a href="{% url 'fifty' %}">
            <button type="button" class="x btns">1950's</button>
        </a>

        <!-- button to select year range playlist -->
        <a href="{% url 'sixty' %}">
            <button type="button" class="w btns">1960's</button>
        </a>

        <!-- button to select study playlist -->
        <a href="{% url 'seventy' %}">
            <button type="button" class="v btns">1970's</button>
        </a>

        <!-- button to select artist's followers playlist -->
        <a href="{% url 'eighty' %}">
            <button type="button" class="u btns">1980's</button>
        </a>
        <a href="{% url 'ninety' %}">
            <button type="button" class="t btns">1990's</button>
        </a>
        <a href="{% url 'millenial' %}">
            <button type="button" class="s btns">Millenials</button>
        </a>
    </div>
</div>

</body>

</html>