/* artist related page */

.up {
    background: url("https://images.unsplash.com/photo-1572980455537-4be2954d0fb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80") bottom no-repeat;
    background-size: 100% 100%;
    /* background: red; */
}

.up:hover {
    color: red;
    border-color: red;
    text-shadow: 1px 1px 10px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.sg {
    /* background: blue; */
    background: url("https://images.unsplash.com/photo-1496857239036-1fb137683000?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") bottom no-repeat;
    background-size: 100% 100%;
}
.sg:hover {
    color: blue;
    border-color: blue;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.rz {
    /* background: purple; */
    color: white;
    background: url("https://images.unsplash.com/photo-1572575156811-2ae050d748d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")  no-repeat;
    background-size: 100% 100%;
}

.rz:hover {
    color: #d305d3;
    border-color: #d305d3;
    box-shadow: 0 2px 1px rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.at {
    /* */
    background: url("https://images.unsplash.com/photo-1513104487127-813ea879b8da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80")  no-repeat;
    background-size: 100% 100%;
}

.at:hover {
    color: #24f309;
    border-color: green;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}


.ts {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1566363384123-360c5f6bc369?ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.ts:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.tm {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1555638138-3892e6df8a68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=847&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.tm:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.na {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1531816599696-8e0c46abbe67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.na:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.pr {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1557080768-1b6176358e51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1133&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.pr:hover {
    color:lightgreen;
    border-color: lightgreen;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}
