
.playlist-msg {
    width: 100%;
}

.msg {
  grid-area:msg;
  background: rgb(1, 109, 1);
  color:white;
  /* border-top-right-radius: 10px; */
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 10px;
}

.rate {
    grid-area: rating;
    height: 260px;
    padding: 0 10px;
    background: rgb(128, 167, 128);
    /* height:275%; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: green;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: rgb(5, 104, 5);  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: green;
}

