/* main css */



/* dashboard css */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    /* transition: all 1s ease-in; */
}

body {
    background-image: linear-gradient(90deg, #656565 , #000);
    display: grid;
    grid-template:
    "nav categories" 50px
    "nav categories" 1fr
    "nav footer" 50px / 240px 1fr;
    margin: 0;
    padding: 0;
    height: 100vh;
} 



.dash-nav {
    grid-area: "nav";
    background: #1f1e1e;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-self: flex-start;
    /* border-radius: 10px; */
    /* position: fixed; */
    /* height: 100vh; */
    cursor:pointer;
    border-right: 3px solid green;
}

@media (min-width: 1000px) {
    body {
        overflow: hidden;
    }
    .dash-nav {
        height: 100vh;
    }
    .dash-nav ul {
        height: 100%;
    }

    .buts {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    footer {
        display: flex;
        justify-content: flex-end;
    }
}

.dash-nav ul {
    background: #2b2929;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 0 0 0 10px;
    color: white;
    /* height: 100%; */
}

.dash-nav li a {
    text-decoration: none;
    color: #fff;
}

.dash-nav li a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.dash-nav .logo {
    /* display: flex; */
    /* align-self: flex-start; */
   display: flex;
   justify-content: center;
   align-self: flex-start;
   margin: 5px 0 20px 0;
   width: 100%;
   font-weight: 800;
   font-size: 25px;
   color: white;
}

hr {
    background: white;
}

.cg {
    grid-area: categories;
    padding-left: 20px;
}

.m {
    color: white;
    margin: 100px 0 50px 0;
}

footer {
    grid-area: footer;
    color: white;
    margin-right: 3%;
    /* margin-top: 2px; */
}

.btns {
    height: 35vh;   
    width: 90%;
    margin: 10px 0 10px 0;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    text-shadow: 2px 2px 10px rgb(78, 60, 60);
    font-weight: 800;
    font-size: 30px;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
}

.a {
    background: url("https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-size: 150% 100%;
    /* background: red; */
}

.a:hover {
    color: red;
    border-color: red;
    text-shadow: 1px 1px 10px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.b {
    /* background: blue; */
    background: url("https://images.unsplash.com/photo-1489958520326-72424db9d183?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2098&q=80") bottom no-repeat;
    background-size: 100% 100%;
}
.b:hover {
    color: blue;
    border-color: blue;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.c {
    /* background: purple; */
    color: white;
    background: url("https://images.unsplash.com/photo-1523689119443-df96632084a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80")  no-repeat;
    background-size: 200% 100%;
}

.c:hover {
    color: #d305d3;
    border-color: #d305d3;
    box-shadow: 0 2px 1px rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.d {
    /* */
    background: url(" https://images.unsplash.com/photo-1457274612300-bb5e37ddfe6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80")  no-repeat;
    background-size: 100% 100%;
}

.d:hover {
    color: #24f309;
    border-color: green;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}


.e {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1535033303881-1f626566b35e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.e:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

 @media only screen and (max-width: 1000px) {
    body {
        grid-template:
        "nav" 1fr
        "categories" 4fr
        "footer" 1fr / 1fr
    }

    .dash-nav {
        grid-area: nav;
        height: 50%;
    }

    .dash-nav ul {
        height: 0%;
    }

    .dash-nav ul li {
        display: none;
        /* height: 0%; */
    }

    .cg {
        grid-area: categories;
        margin: 0 40px 0 20px;
    }

    .m {
        margin-top: 20px;
    }

    footer {
        grid-area: footer;
    }

    .buts {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    .btns {
        /* margin: 0 25%; */
        margin: 0 0 20px 0;
        font-size: 150%;
        height: 10em;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer {
        display: flex;
        justify-content: center;
    }
} 