/* template css */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    /* transition: all 1s ease-in; */
    font-family: 'Ubuntu', sans-serif;
    
}

body {
    background-image: linear-gradient(90deg, #656565 , #000);
    display: grid;
    grid-template:
    "nav categories" 50px
    "nav categories" 1fr
    "nav footer" 50px / 240px 1fr;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
} 



.dash-nav {
    grid-area: "nav";
    background: #1f1e1e;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 200px;
    align-self: flex-start;
    min-height: 4em;
    border-right: 3px solid green;
}

@media (min-width: 1000px) {
    body {
/*         overflow: hidden; */
    }
    .dash-nav {
        height: 100vh;
        position: fixed;
      
    }
    .dash-nav ul {
        height: 100%;
      width: 100%;
      
    }

    .buts {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    footer {
        display: flex;
        justify-content: flex-end;
    }
}

.dash-nav ul {
    background: #2b2929;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 0 0 0px 0px;
    color: white;
    font-size: 18px;
}

.dash-nav li:nth-child(2) {
  margin-top: 30px;
}
.dash-nav li {
  padding-bottom: 10px;
  padding-left: 10px;
}

.dash-nav li:nth-child(5) {
  padding-top: 10px;
}

.dash-nav li a {
    text-decoration: none;
    color: #fff;
}

.dash-nav li a:hover {
    background: rgba(0,0,0,0.5);
    padding-left: 5px;
    border-left: 5px solid green;
    font-weight: 700;
    transition: border 25ms ease-out;
    transition: padding 100ms ease-out;
}

.dash-nav .logo {
   display: flex;
   justify-content: center;
   margin: 5px 0 20px 0;
   width: 100%;
}

.logo a {
   text-decoration: none;
   font-weight: 800;
   font-size: 25px;
   color: #E59F71;
}

hr {
    background: white;
}

.cg {
    grid-area: categories;
    padding-left: 20px;
}

.m {
    width: fit-content;
    padding: 5px;
    background: gray;
/*     color: #00A318; */
  text-shadow: 1px 1px 0px rgba(0,0,0,1);
    margin: 50px 0 50px 0;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    border-radius: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

footer {
    grid-area: footer;
    color: white;
    margin-right: 3%;
    /* margin-top: 2px; */
}

.btns {
    animation:1s ease-in-out 0s load-in;
    min-height: 350px;   
    min-width: 90%;
    margin: 10px 0 10px 0;
/*     padding-right: 10px; */
    display: flex;
    justify-content: flex-end;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    font-weight: 800;
    font-size: 30px;
    border: 1px solid black;
    background-color: rgba(0,0,0,1);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

.btns:hover {
  transform: translateY(-10px);
/*   transition: justify-content 1s ease-in; */
  transition: transform 100ms ease-in-out;
}

.buts a {
  text-decoration: none;
}

 @media only screen and (max-width: 1000px) {
    body {
        grid-template:
        "nav" 1fr
        "categories" 4fr
        "footer" 1fr / 1fr
    }

    .dash-nav {
        grid-area: nav;
        height: 50%;
    }

    .dash-nav ul {
        height: 0%;
    }

    .dash-nav ul li {
        display: none;
        /* height: 0%; */
    }

    .cg {
        grid-area: categories;
        margin: 0 40px 0 20px;
    }

    .m {
        margin-top: 20px;
    }

    footer {
        grid-area: footer;
    }

    .buts {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    .btns {
        /* margin: 0 25%; */
        margin: 0 0 20px 0;
        font-size: 150%;
        height: 10em;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer {
        display: flex;
        justify-content: center;
    }
}

@keyframes load-in {
  0% {
    background: gray;
    transform: translateX(-50px);
    opacity: 0;
    background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 45%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-250px -250px;
        background-size: 600px 600px
  }

  75% {
    opacity: .5;
  }
  
  100% {
    opacity: 1;
  }
    
}