/* year range buttons styling */

.z {
    background: url("https://images.unsplash.com/photo-1534325206648-bb8fa5dba108?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2553&q=80");
    background-size: 100% 100%;
    /* background: red; */
}

.z:hover {
    color: red;
    border-color: red;
    text-shadow: 1px 1px 10px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.y {
    /* background: blue; */
    background: url("https://images.unsplash.com/photo-1468415676748-acbcf43dd6e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80") bottom no-repeat;
    background-size: 100% 100%;
}
.y:hover {
    color: blue;
    border-color: blue;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.x {
    /* background: purple; */
    color: white;
    background: url("https://images.unsplash.com/photo-1550600680-67b4b40f609d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3082&q=80")  no-repeat;
    background-size: 100% 100%;
}

.x:hover {
    color: #d305d3;
    border-color: #d305d3;
    box-shadow: 0 2px 1px rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.w {
    /* */
    background: url("https://images.unsplash.com/photo-1525797865639-db6a256b7d3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3000&q=80")  no-repeat;
    background-size: 100% 100%;
}

.w:hover {
    color: #24f309;
    border-color: green;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}


.v {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1523742672094-d87e0d0d006e?ixlib=rb-1.2.1&auto=format&fit=crop&w=2177&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.v:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.u {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1524847390379-2fb0cc1953a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.u:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.t {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1561131506-3c48296e2c20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.t:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}

.s {
    /* background: yellow; */
    background: url("https://images.unsplash.com/photo-1570042707390-2e011141ab78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80") bottom no-repeat;
    background-size: 100% 150%;
}

.s:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 rgba(0,0,0,1);
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    /* text-decoration: none; */
    text-decoration-color: red;
}
